.App {
  text-align: center;
}

.login-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login-form {
  display: grid;
  grid-gap: 15px;
  padding: 20px;
  border: 1px solid #ddd; /* Couleur de la bordure */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Fond blanc */
  max-width: 400px; /* Largeur maximale */
  width: 100%;
}

label {
  margin-bottom: 8px;
  color: #555; /* Couleur du texte des étiquettes */
  font-weight: bold; /* Texte en gras */
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* Couleur de la bordure du champ de saisie */
  border-radius: 5px; /* Coins arrondis */
  width: 100%;
}

button {
  background-color: #28a745; /* Couleur de fond verte */
  color: #fff; /* Couleur du texte blanc */
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease; /* Animation de transition de la couleur de fond */
}

button:hover {
  background-color: #218838; /* Couleur de fond verte plus foncée au survol */
}
